body {
  background: #f7f7f7;
}
.navbar-inverse {
  background: linear-gradient(180deg, #767676, #545557);
}
.navbar-inverse .navbar-brand {
  font-size: 20px;
  color: #f6f4f5;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-style: italic;
}
.navbar-inverse .navbar-brand:hover {
  color: #f0f0f0;
}
.navbar-inverse .navbar-nav li .glyphicon-user {
  background: linear-gradient(180deg, #767676, #44474c);
  color: #f6f4f5;
  font-size: 18px;
  height: 49px;
  border-left: 2px solid #444444;
  border-right: 2px solid #444444;
}
.navbar-inverse .navbar-nav li .glyphicon-user:focus {
  border-bottom: 4px solid #3b8bd4;
}
.navbar-inverse .navbar-nav li .glyphicon-user span {
  font-family: 'PT Sans', sans-serif;
}
.navbar-inverse .navbar-nav .dropdown-menu {
  margin: 5px 20px 0 0;
  border-radius: 6px;
  border: 2px solid #1e5b8a;
  background: #f5f6fb;
}
.navbar-inverse .navbar-nav .dropdown-menu:before {
  content: "";
  position: absolute;
  border-left: 12px solid rgba(113, 101, 58, 0);
  border-right: 12px solid rgba(113, 101, 58, 0);
  border-bottom: 12px solid #1e5b8a;
  left: 15%;
  top: -12px;
  z-index: 6;
}
.navbar-inverse .navbar-nav .dropdown-menu:after {
  content: "";
  position: absolute;
  border-left: 12px solid rgba(255, 241, 190, 0);
  border-right: 12px solid rgba(255, 241, 190, 0);
  border-bottom: 12px solid #f5f6fb;
  left: 15%;
  top: -9px;
  z-index: 6;
}
.navbar-inverse .navbar-nav .dropdown-menu a {
  font-weight: bold;
}
.navbar-inverse .navbar-nav .dropdown-menu a:hover {
  background: #4594df;
  color: white;
}
.jumbotron {
  margin-top: 30px;
  background: linear-gradient(180deg, #3d8ecd, #1b70b0);
  padding-bottom: 0;
  margin-bottom: 0;
}
.jumbotron ul {
  margin-bottom: -1px;
  margin-left: 5px;
}
.jumbotron p {
  font-size: 25px;
  line-height: 0.9;
  text-transform: uppercase;
  color: white;
  padding-bottom: 50px;
}
.jumbotron .form-inline input {
  min-width: 290px;
  margin: 5px auto;
  background: #bde2fd;
  border: 2px solid #2978b3;
  padding-right: 35px;
  font-style: italic;
  box-shadow: inset 0 0 10px #2978b3;
}
.jumbotron .form-inline input::-webkit-input-placeholder {
  line-height: 20px;
  transition: line-height 0.5s ease;
  color: #2978b3;
}
.jumbotron .form-inline input::-moz-placeholder {
  line-height: 20px;
  transition: line-height 0.5s ease;
  color: #2978b3;
}
.jumbotron .form-inline input:-ms-input-placeholder {
  line-height: 20px;
  transition: line-height 0.5s ease;
  color: #2978b3;
}
.jumbotron .form-inline input:focus::-webkit-input-placeholder {
  line-height: 100px;
  transition: line-height 0.5s ease;
}
.jumbotron .form-inline input:focus::-moz-placeholder {
  line-height: 100px;
  transition: line-height 0.5s ease;
}
.jumbotron .form-inline input:focus:-ms-input-placeholder {
  line-height: 100px;
  transition: line-height 0.5s ease;
}
.jumbotron .form-inline input:focus {
  background: white;
}
.jumbotron .form-inline span {
  position: relative;
  left: -35px;
  color: #2978b3;
  font-size: 22px;
  top: 8px;
}
.jumbotron li a {
  color: #e3ffff;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 20px;
}
.jumbotron li a:hover {
  background: #1e5b8a;
}
.jumbotron li.active:before {
  content: "";
  position: absolute;
  border-left: 7px solid rgba(113, 101, 58, 0);
  border-right: 7px solid rgba(113, 101, 58, 0);
  border-top: 9px solid #21557d;
  left: 40%;
  bottom: -6px;
  z-index: 10;
}
.jumbotron li.active a {
  background: linear-gradient(180deg, #41769e, #21557d);
  color: #e3ffff;
  border: 1px solid #1571b4;
  border-bottom: none;
}
.jumbotron li.active a:hover {
  background: none;
  color: #e3ffff;
}
.jumbotron li.active a:focus {
  background: linear-gradient(180deg, #41769e, #21557d);
  color: #e3ffff;
  border: 1px solid #1571b4;
}
.main {
  margin-bottom: 70px;
  border: 5px solid #bdbdbd;
  border-top: none;
  padding: 0;
  box-shadow: 0 -1px 22px 8px rgba(0, 0, 0, 0.08);
  background: white;
}
.main .nav-filters {
  position: relative;
  background: white;
}
.main .nav-filters .navbar-brand {
  padding: 20px;
  color: #84878c;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
}
.main .nav-filters .wrapper {
  padding: 12px 30px 0 0;
}
.main .nav-filters .wrapper form input {
  font-style: italic;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
.main .nav-filters .wrapper form input:focus::-webkit-input-placeholder {
  color: transparent;
}
.main .nav-filters .wrapper form input:focus::-moz-placeholder {
  color: transparent;
}
.main .nav-filters .wrapper form input:focus:-moz-placeholder {
  color: transparent;
}
.main .nav-filters .wrapper form input:focus:-ms-input-placeholder {
  color: transparent;
}
.main .nav-filters .wrapper select {
  margin-left: 15px;
  margin-bottom: 10px;
  height: 34px;
  line-height: 1;
  border-radius: 5px;
}
.main .nav-filters .wrapper select:hover {
  background-color: #eeeeee;
}
.main .nav-filters .wrapper select:hover option {
  background-color: white;
}
.main .nav-filters .wrapper ul {
  margin-left: 15px;
}
.main .nav-filters .wrapper ul li a {
  height: 34px;
  line-height: 1;
}
.main .tableOfSnipets .sortorder:after {
  content: '\25b2';
}
.main .tableOfSnipets .sortorder.reverse:after {
  content: '\25bc';
}
.main .tableOfSnipets thead tr {
  background: #f0f0f0;
}
.main .tableOfSnipets thead tr a {
  color: black;
}
.main .tableOfSnipets thead tr span {
  padding-left: 15px;
}
.main .tableOfSnipets tbody tr:hover td {
  background: #1862a9 !important;
  color: white;
}
.main .tableOfSnipets tbody tr:hover td a {
  color: white;
  font-weight: bold;
}
.main .tableOfSnipets tbody tr:nth-child(odd) {
  background: #bde2fd;
}
.main .tableOfSnipets tbody tr:nth-child(odd) td:first-child {
  font-size: 16px;
}
.main .tableOfSnipets tbody tr:nth-child(even) {
  background: white;
}
.main .tableOfSnipets tbody tr:nth-child(even) td:first-child {
  background: #f0f0f0;
  font-size: 16px;
  width: 30%;
}
.main .tableOfSnipets tbody tr:nth-child(even) td:nth-child(2) {
  width: 40%;
}
.main .tableOfSnipets tbody tr:nth-child(even) td:nth-child(3) {
  width: 10%;
}
.pagination {
  margin-bottom: 60px;
}
.pagination li:first-child a,
.pagination li:last-child a {
  text-decoration: underline;
  border: none;
  background: none;
  color: #1862a9;
}
.pagination li:first-child a:hover,
.pagination li:last-child a:hover {
  background: none;
  color: #1862a9;
}
.pagination li a {
  margin-right: 10px;
  border-radius: 4px;
  padding: 8px 10px;
  background: #70b3de;
  color: white;
}
.pagination li a:hover {
  background: #1862a9;
  color: white;
}
.pagination li.disabled:first-child a,
.pagination li.disabled:last-child a {
  color: #bdbdbd;
}
.panel-footer {
  border-top: 5px solid #2a8ad4;
  background: #3c3c3c;
  box-shadow: 0 -12px 14px -2px rgba(0, 0, 0, 0.27);
  color: #bdbdbd;
}
.panel-footer .container {
  margin-top: 30px;
}
.panel-footer img {
  padding: 0 20px;
}
.panel-footer .copyright {
  margin-top: 20px;
}
.main-wrap {
  padding: 15px 140px;
}
.main-wrap .form-group-date {
  margin-left: 60px;
}
.main-wrap .navbar-header p {
  color: black;
  font-size: 18px;
  margin-left: -100px;
}
.main-wrap .btn-warning {
  width: 150px;
}
.main-wrap .addFileBtn {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.main-wrap .addFileBtn input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.save-cancel-btn {
  margin-bottom: 50px;
}
.save-cancel-btn button {
  margin-right: 10px;
}
#file-information tbody tr:nth-child(odd) {
  background: #f0f0f0;
}
#file-information tbody tr:nth-child(even) {
  background: white;
}
#file-information thead tr {
  background: none;
}
#file-information thead tr :first-child {
  width: 5%;
}
#file-information thead tr :nth-child(2) {
  width: 30%;
}
#file-information thead tr :nth-child(3) {
  width: 30%;
}
#file-information thead tr :last-child {
  width: 200px;
}
.textAreaDescription {
  padding: 20px 20px 10px 20px;
  border: 2px solid #d1d1d1;
  border-radius: 6px 6px 0 0;
  background: #fbfbfb;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iI2RlZGVkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWRhZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fbfbfb 0, #f1f1f1 35%, #ededed 41%, #e1e1e1 76%, #dedede 78%, #dadada 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fbfbfb), color-stop(35%, #f1f1f1), color-stop(41%, #ededed), color-stop(76%, #e1e1e1), color-stop(78%, #dedede), color-stop(100%, #dadada));
  background: -webkit-linear-gradient(top, #fbfbfb 0, #f1f1f1 35%, #ededed 41%, #e1e1e1 76%, #dedede 78%, #dadada 100%);
  background: -o-linear-gradient(top, #fbfbfb 0, #f1f1f1 35%, #ededed 41%, #e1e1e1 76%, #dedede 78%, #dadada 100%);
  background: -ms-linear-gradient(top, #fbfbfb 0, #f1f1f1 35%, #ededed 41%, #e1e1e1 76%, #dedede 78%, #dadada 100%);
  background: linear-gradient(to bottom, #fbfbfb 0, #f1f1f1 35%, #ededed 41%, #e1e1e1 76%, #dedede 78%, #dadada 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#dadada', GradientType=0);
  /* IE6-8 */

}
.textAreaDescription p {
  color: #6b90a2;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
}
.textAreaDescription span {
  font-weight: bold;
  color: #7f7f7f;
}
.textAreaDescription select {
  margin-left: 30px;
  background: #f7f7f7;
  height: 40px;
  width: 200px;
  padding: 0 10px;
  border-radius: 4px;
}
.outputFileContentField {
  margin-bottom: 40px;
}
.outputFileContentFieldDescription {
  margin-bottom: 40px;
}
.outputFileContentFieldDescription p {
  text-align: justify;
}
