<div class="panel-footer navbar-fixed-bottom">
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
    <div class="container">
        <div class="clearfix">
            <div class="pull-left">
                <img src="/content/img/footer_ico.jpg" class="navbar-left" alt="#"/>
                <p class="pull-right ">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,<br/>
                    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </div>
            <div class="pull-right copyright">


                <p>Copyright &copy; 2012 Lipsum-Inc. All right reserved</p>
            </div>
        </div>
    </div>
</div>
