<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Lorem ipsum Name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle glyphicon glyphicon-user"
                           data-toggle="dropdown"
                           role="button"
                           aria-expanded="false">
                            <span>Your account</span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="">Sign Out</a></li>
                            <li><a href="">Account Settings</a></li>
                            <li><a href="">Help</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>